.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.wrapper {
  background-color: white;
  width: 400px;
  border-radius: 20px;
  margin: 100px;
}

.row {
  display: flex;
}